body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #333;
    overflow: hidden;
}

.nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-bar a:active {
    background-color: #04AA60;
    color: #fff;
}