<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ejemplo.css">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <h2>Formulario de Login</h2>
        <form>
            <label for="username">Usuario</label>
            <input type="text" id="username" placeholder="Escribe tu usuario">
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Escribe tu contraseña">
            
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>