<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inicio.css">
    <title>Inicio</title>
</head>
<body>
    <section>
        <div class="mision">
            <h1>Mision</h1>
            <ul>Brindar educación de calidad con un enfoque tecnológico que fomente el aprendizaje continuo y el
                desarrollo integral de los estudiantes.
            </ul>
            <ul>Promover la inclusión y la equidad educativa, ofreciendo oportunidades a personas de todas las edades,
                especialmente a aquellos adultos que no han completado su educación básica.
            </ul>
        </div>
        <div class="vision">
            <h1>Vision</h1>
            <ul>Ser un referente en educación innovadora y accesible, donde la tecnología sea una herramienta clave para
                el aprendizaje, formando ciudadanos críticos y responsables.</ul>
            <ul>Contribuir al desarrollo social y económico de la comunidad, empoderando a los estudiantes con
                habilidades relevantes para el futuro.</ul>
        </div>
        <div class="historia">
            <h1>Historia</h1>
            <p> Fundado en 2023, el Colegio Internacional Los Pio nace de la necesidad de adaptar la educación a los
                desafíos del siglo XXI.</p>
            <p>Con un enfoque en la tecnología, el colegio implementa herramientas digitales en el aula, promoviendo un
                ambiente de aprendizaje interactivo y dinámico.</p>
            <p>Ofrece tres jornadas educativas:
            <ol>La jornada matutina para estudiantes de primaria.</ol>
            <ol>La jornada vespertina para estudiantes de secundaria.</ol>
            <ol>Una jornada nocturna especialmente diseñada para adultos que buscan completar su educación primaria
                y/o secundaria.</ol>
            </p>
            <p>Desde su apertura, "Los Pio" ha trabajado en colaboración con la comunidad, fomentando un espacio
                inclusivo y diverso que celebra el aprendizaje a lo largo de la vida.</p>
        </div>
    </section>

    <aside>
        <img class="imagen_1" src="../img/boy reading.jpg">
        <img class="imagen_2" src="../img/boy's graduation.jpg">
        <img class="imagen_3" src="../img/student in class.jpg">
        <img class="imagen_4" src="../img/woman's graduation.jpg">
        <img class="imagen_5" src="../img/participacion.avif">
        <img class="imagen_6" src="../img/children-lecture.jpg">
        <img class="imagen_7" src="../img/library.jpg">
        <img class="imagen_8" src="../img/school-bus.jpg">
        <img class="imagen_9" src="../img/notebook.jpg">
    </aside>
</body>
</html>